---
Checks: >-
    *,
    -altera-struct-pack-align,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -fuchsia-trailing-return,
    -google-runtime-references,
    -hicpp-signed-bitwise,
    -llvmlibc-*,
    -llvm-header-guard,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -modernize-pass-by-value,
    -readability-convert-member-functions-to-static,

WarningsAsErrors: "*"
HeaderFilterRegex: ".*/sq/src/.*"
