#ifndef SQ_INCLUDE_GUARD_schema_{{ sq_type.name }}_gen_h_
#define SQ_INCLUDE_GUARD_schema_{{ sq_type.name }}_gen_h_

#include "common_types/Field.h"

namespace sq::schema {

template <typename Impl>
class {{ sq_type.name }}
    : public Field
{
public:
    Result get(std::string_view member, const FieldCallParams& params) const override;
};

} // namespace sq::schema

#include "schema/{{ sq_type.name }}.gen.inl.h"

#endif // SQ_INCLUDE_GUARD_schema_{{ sq_type.name }}_gen_h_
