#include "field_types/{{ sq_type.name }}.gen.h"

#include "common_types/FieldCallParams.h"
#include "common_types/InvalidFieldError.h"

namespace sq::field_types {


Result {{sq_type.name}}::get(std::string_view member, [[maybe_unused]] const FieldCallParams& params) const
{

{%- macro _get_param_fn(param) -%}

    {{ "get" if param.required else "get_optional" }}

{%- endmacro -%}

{%- macro _get_param(param) -%}

        params.{{ _get_param_fn(param) }}<{{ param.base_type }}>({{ param.index }}, "{{ param.name }}")

{%- endmacro -%}

{% for field in sq_type.fields %}
    if (member.compare("{{ field.name }}") == 0)
    {
        return get_{{ field.name }}(
{%- set sep = joiner(", ") -%}
{% for param in field.params %}{{sep()}}
            {{ _get_param(param) }}
{%- endfor %}
        );
    }
{% endfor %}
    throw InvalidFieldError("SqRoot", member);
    return nullptr;
}

} // namespace sq::field_types
